body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-1 { padding: .25rem; }
.p-2 { padding: .5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 2rem; }

.m-1 { margin: .25rem; }
.m-2 { margin: .5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 2rem; }

h1 {
  font-size: 1.94rem;
  margin-bottom: 55px;
}
.text-center {
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.v-center {
  align-items: center;
}
.col {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}
.container {
  max-width: 587px;
  margin: 50px auto;
  text-align: left;
  box-sizing: border-box;
  padding: 1.4rem 2.6rem 4rem;
}
.bg-primary {
  background-color: #003b67;
}
.bg-secondary {
  background-color: #00355d;
}
.border-error {
  border: 1px solid #ff4a4ad9 !important;
}
.bg-gradient {
  background: linear-gradient(180deg, rgba(8,79,133,1) 0%, rgba(0,59,103,1) 100%);
  height: 640px;
}
.text-white {
  color: #fff;
}
.text-bold {
  font-weight: 700;
}
.big-text {
  font-size: 2.6rem;
}
label {
  text-transform: uppercase;
  font-size: 1.17rem;
}